In [1]:
import urllib
import requests
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier

In [2]:
for x in range(2013,2021):
    f = open(f"nov{x}-{x+1}.txt", "r")
    content = f.read()
    f.close()

    content = content.replace(" ","")

    g = open(f"nov{x}-{x+1}.txt", "w")
    g.write(content)
    g.close()

In [3]:
frames = []

for x in range(2013,2021):
    frames.append(pd.read_csv(f"nov{x}-{x+1}.txt", sep = ","))

data = pd.concat(frames)

In [4]:
data.sample(10)

,Aeg,Temperatuur,Niiskus,&Otilde;hur&otilde;hk,Tuulekiirus,Tuulesuund,Sademed,UVindeks,Valgustatus,Kiirgusvoog,Radioaktiivsus
86292,2019-09-0517:40:00,22.117189,50.923297,1010.762967,4.155100,207.021909,0.0,NaN,NaN,262.906144,NaN
40837,2020-04-0203:20:00,1.373669,83.120312,997.305500,3.256271,235.877875,0.0,NaN,NaN,5.308815,NaN
30702,2020-02-2621:45:00,0.012449,98.830748,991.668100,2.894849,54.868630,0.0,NaN,NaN,3.984972,NaN
31225,2018-03-0310:00:00,-10.565714,75.778462,1011.218533,1.877822,102.224092,0.0,NaN,NaN,288.508964,NaN
53157,2014-05-1819:50:00,24.243408,47.887182,1010.138984,1.987999,108.871096,0.0,NaN,NaN,NaN,0.097779
11323,2016-12-2407:25:00,2.502665,86.564156,1011.457967,5.688861,227.215513,0.0,NaN,NaN,1.295730,NaN
36492,2016-03-2016:05:00,-2.447753,85.291820,1005.057967,2.639671,269.272118,0.0,NaN,NaN,250.174075,NaN
32365,2014-03-0709:50:00,2.590826,56.563397,1020.716526,2.178459,218.237850,0.0,NaN,NaN,NaN,0.102173
90811,2017-09-2608:25:00,10.088674,96.660981,1038.751833,3.454768,87.678772,0.0,NaN,NaN,108.507552,NaN
17638,2014-01-1506:30:00,-10.839015,64.213459,1008.324362,0.304561,96.460461,0.0,NaN,NaN,NaN,0.098899

In [5]:
data.shape

(811086, 11)

In [6]:
#f = open("kiirgusvoog_5a.csv", "r")
#content = f.read()
#f.close()

#content = content.replace(" ","")

#g = open("kiirgusvoog_5a_2.csv", "w")
#g.write(content)
#g.close()

#data = pd.read_csv("kiirgusvoog_5a_2.csv")

In [7]:
data = data.rename(columns = {'&Otilde;hur&otilde;hk':'Õhurõhk'})

In [8]:
def break_up_time(data):
    data["Aasta"]= data.apply(lambda row: row["Aeg"][0:4], axis=1)
    data["Kuu"] = data.apply(lambda row: row["Aeg"][5:7], axis=1)
    data["Päev"] = data.apply(lambda row: row["Aeg"][8:10], axis=1)
    data["Tund"] = data.apply(lambda row: row["Aeg"][10:12], axis=1)
    data["Minut"] = data.apply(lambda row: row["Aeg"][13:15], axis=1)
    data["Aeg"] = data.apply(lambda row: row["Aeg"][0:10], axis=1) + " " + data.apply(lambda row: row["Aeg"][10:18], axis=1)
    data.Aasta = data.Aasta.astype('int')
    data.Kuu = data.Kuu.astype('int')
    data.Päev = data.Päev.astype('int')
    data.Tund = data.Tund.astype('int')
    data.Minut = data.Minut.astype('int')

In [9]:
break_up_time(data)
data.head()

,Aeg,Temperatuur,Niiskus,Õhurõhk,Tuulekiirus,Tuulesuund,Sademed,UVindeks,Valgustatus,Kiirgusvoog,Radioaktiivsus,Aasta,Kuu,Päev,Tund,Minut
0,2013-11-15 00:00:00,2.253725,80.280623,1012.974940,1.396552,219.132229,0.0,NaN,NaN,NaN,0.097777,2013,11,15,0,0
1,2013-11-15 00:05:00,2.269765,80.633583,1013.042850,1.246345,220.840096,0.0,NaN,NaN,NaN,0.134524,2013,11,15,0,5
2,2013-11-15 00:10:00,2.259058,80.844891,1012.746232,1.387465,218.213758,0.0,NaN,NaN,NaN,0.091138,2013,11,15,0,10
3,2013-11-15 00:15:00,2.222720,80.999738,1012.925478,1.803502,224.199997,0.0,NaN,NaN,NaN,0.097796,2013,11,15,0,15
4,2013-11-15 00:20:00,2.135194,81.082619,1012.874290,1.640076,225.130637,0.0,NaN,NaN,NaN,0.096651,2013,11,15,0,20

In [10]:
data.columns

Index(['Aeg', 'Temperatuur', 'Niiskus', 'Õhurõhk', 'Tuulekiirus', 'Tuulesuund',
       'Sademed', 'UVindeks', 'Valgustatus', 'Kiirgusvoog', 'Radioaktiivsus',
       'Aasta', 'Kuu', 'Päev', 'Tund', 'Minut'],
      dtype='object')

In [11]:
from datetime import datetime

data["Aeg"] = data.apply(lambda row: datetime.strptime(row["Aeg"],"%Y-%m-%d %H:%M:%S"), axis=1)

In [12]:
data.dtypes

Aeg               datetime64[ns]
Temperatuur              float64
Niiskus                  float64
Õhurõhk                  float64
Tuulekiirus              float64
Tuulesuund               float64
Sademed                  float64
UVindeks                 float64
Valgustatus              float64
Kiirgusvoog              float64
Radioaktiivsus           float64
Aasta                      int64
Kuu                        int64
Päev                       int64
Tund                       int64
Minut                      int64
dtype: object

In [13]:
data = data[["Aeg","Aasta","Kuu","Päev","Tund","Minut","Temperatuur","Niiskus","Õhurõhk","Tuulekiirus","Tuulesuund","Sademed","Kiirgusvoog"]] # "Sadanudlumi"
#data['Sadanudlumi'] = data['Sadanudlumi'].fillna(0)
#data.columns = ["Aasta","Kuu","Päev","Tund","Minut","Temperatuur","Niiskus","Õhurõhk","Tuule kiirus","Tuule suund","Sademed","Kiirgusvoog"]
data['Sademed'] = data['Sademed'].fillna(0)
data['Tuulekiirus'] = data['Tuulekiirus'].fillna(method='backfill')
data['Tuulesuund'] = data['Tuulesuund'].fillna(method='backfill')
data['Temperatuur'] = data['Temperatuur'].fillna(method='backfill')
data['Niiskus'] = data['Niiskus'].fillna(method='backfill')
data['Õhurõhk'] = data['Õhurõhk'].fillna(method='backfill')
data['Kiirgusvoog'] = data['Kiirgusvoog'].fillna(method='backfill')
data["KiirgusvoogTulevikus"] = data["Kiirgusvoog"].shift(-1)
data = data.dropna()
data.isnull().sum()

Aeg                     0
Aasta                   0
Kuu                     0
Päev                    0
Tund                    0
Minut                   0
Temperatuur             0
Niiskus                 0
Õhurõhk                 0
Tuulekiirus             0
Tuulesuund              0
Sademed                 0
Kiirgusvoog             0
KiirgusvoogTulevikus    0
dtype: int64

In [14]:
data = data.rename(columns = {
    'Aeg': 'timestamp',
    'Aasta':'year',
    'Kuu':'month',
    'Päev':'day',
    'Tund':'hour',
    'Minut':'minute',
    'Temperatuur':'temperature',
    'Niiskus':'humidity',
    'Õhurõhk':'atmospheric_pressure',
    'Tuulekiirus':'wind_speed',
    'Tuulesuund':'wind_direction',
    'Sademed':'precipitation',
    #'Sadanudlumi':'snow',
    'Kiirgusvoog':'radiation_flux',
    'KiirgusvoogTulevikus':'rad_flux_infuture'    
    })
data.columns

Index(['timestamp', 'year', 'month', 'day', 'hour', 'minute', 'temperature',
       'humidity', 'atmospheric_pressure', 'wind_speed', 'wind_direction',
       'precipitation', 'radiation_flux', 'rad_flux_infuture'],
      dtype='object')

In [15]:
data[data.humidity == data.humidity.max()]

,timestamp,year,month,day,hour,minute,temperature,humidity,atmospheric_pressure,wind_speed,wind_direction,precipitation,radiation_flux,rad_flux_infuture
51611,2014-05-13 11:00:00,2014,5,13,11,0,8.624431,117.297204,990.984611,3.325451,290.185328,0.0,0.0,0.0
51611,2014-05-13 11:00:00,2014,5,13,11,0,8.624431,117.297204,990.984611,3.325451,290.185328,0.0,0.0,0.0

In [16]:
data.describe()

,year,month,day,hour,minute,temperature,humidity,atmospheric_pressure,wind_speed,wind_direction,precipitation,radiation_flux,rad_flux_infuture
count,811085.000000,811085.000000,811085.000000,811085.000000,811085.000000,811085.000000,811085.000000,811085.000000,811085.000000,811085.000000,811085.000000,811085.000000,811085.000000
mean,2017.398950,6.494621,15.751352,11.481656,27.512518,6.825025,75.458473,1010.824081,3.258511,199.267411,0.004576,89.464947,89.464947
std,2.424143,3.526065,8.820120,6.926916,17.262782,8.905742,19.869568,11.040802,1.678265,91.412932,0.050455,181.339887,181.339887
min,2013.000000,1.000000,1.000000,0.000000,0.000000,-24.307660,0.000000,963.557524,0.000000,0.000000,0.000000,-2.625525,-2.625525
25%,2016.000000,3.000000,8.000000,5.000000,14.000000,0.635374,62.394290,1003.885773,2.053779,124.554193,0.000000,0.000000,0.000000
50%,2018.000000,6.000000,16.000000,11.000000,30.000000,5.843931,81.315327,1011.116467,3.025117,224.132079,0.000000,2.639460,2.639460
75%,2019.000000,10.000000,23.000000,17.000000,45.000000,13.633509,91.499743,1018.149000,4.240506,274.416061,0.000000,74.003317,74.003317
max,2021.000000,12.000000,31.000000,23.000000,59.000000,33.553939,117.297204,1045.714767,15.497177,360.000000,9.799000,1132.409778,1132.409778

In [17]:
data.sample(50)

,timestamp,year,month,day,hour,minute,temperature,humidity,atmospheric_pressure,wind_speed,wind_direction,precipitation,radiation_flux,rad_flux_infuture
85160,2020-09-03 00:55:00,2020,9,3,0,55,14.450767,90.789945,1019.357000,4.096547,107.438462,0.000,2.314647,2.298738
104430,2021-11-04 05:45:00,2021,11,4,5,45,7.672137,92.315725,1006.785767,5.583752,238.056744,0.000,0.000000,0.000000
85140,2014-11-06 10:10:00,2014,11,6,10,10,3.665989,100.000000,993.311166,3.299492,100.081505,0.000,0.000000,0.000000
13923,2018-12-28 09:55:00,2018,12,28,9,55,0.286385,99.061362,1009.665067,1.753249,11.969612,0.000,17.526881,19.630322
103158,2016-11-07 04:25:00,2016,11,7,4,25,-5.879185,88.001696,1004.387033,5.158434,71.421159,0.000,0.642133,0.772312
15073,2017-01-06 07:55:00,2017,1,6,7,55,-16.569495,84.422659,1033.910400,0.742442,300.639450,0.000,4.130281,3.952035
77001,2020-08-05 17:00:00,2020,8,5,17,0,21.376143,47.535262,1016.893267,3.820585,273.577013,0.000,490.245492,551.224635
28134,2019-02-15 18:10:00,2019,2,15,18,10,1.934255,96.320361,1017.601900,5.921128,274.787857,0.000,2.243099,2.212167
3559,2020-11-27 08:35:00,2020,11,27,8,35,0.282641,89.676727,1007.137267,2.917003,333.421187,0.000,1.764473,2.698636
33668,2014-03-11 22:25:00,2014,3,11,22,25,1.880598,45.385813,1019.162503,4.044369,272.266887,0.000,0.000000,0.000000
15430,2018-01-07 13:50:00,2018,1,7,13,50,-0.911186,68.937226,1017.039900,7.594502,282.604398,0.000,96.162696,91.482824
6810,2015-12-08 14:55:00,2015,12,8,14,55,2.036227,82.707778,1031.383200,4.120281,278.093524,0.000,10.193456,5.112701
42571,2018-04-11 20:30:00,2018,4,11,20,30,6.599093,33.528254,1026.547267,1.326568,62.149227,0.000,0.000000,0.000000
89910,2020-09-19 12:45:00,2020,9,19,12,45,13.641873,59.600686,1017.640700,5.878086,284.901274,0.000,541.319541,540.683752
64650,2016-06-26 11:35:00,2016,6,26,11,35,27.440493,59.221739,1012.248400,3.800028,115.225720,0.000,653.714201,484.272470
39825,2014-04-02 08:35:00,2014,4,2,8,35,-2.249599,36.314449,1008.108802,1.716482,290.784457,0.000,0.000000,0.000000
74535,2019-07-26 21:55:00,2019,7,26,21,55,24.364556,64.670139,1019.496433,1.038573,58.607963,0.000,3.014955,2.113081
33532,2017-03-11 10:10:00,2017,3,11,10,10,1.818117,93.599487,1020.020067,1.580317,199.027133,0.000,138.228805,141.363509
50881,2017-05-10 16:55:00,2017,5,10,16,55,5.360000,53.966905,1006.748467,1.466390,241.722113,0.000,502.934536,449.659770
80381,2014-10-20 21:35:00,2014,10,20,21,35,8.534958,100.000000,974.433690,0.976854,346.611402,0.000,0.000000,0.000000
90580,2016-09-24 12:20:00,2016,9,24,12,20,8.770895,71.443990,1015.817000,4.696726,285.970796,0.000,169.725767,166.760285
96100,2020-10-11 01:10:00,2020,10,11,1,10,8.495610,96.491403,1016.294452,3.875661,124.907475,0.000,0.000000,0.000000
75343,2017-08-03 15:25:00,2017,8,3,15,25,22.419254,45.349282,1012.111433,5.847619,281.803687,0.000,607.139359,694.930427
74415,2021-07-23 00:30:00,2021,7,23,0,30,17.916137,70.111068,1009.795533,4.818800,274.710297,0.000,0.000000,0.000000
18758,2017-01-19 03:00:00,2017,1,19,3,0,0.650520,96.160095,1021.646367,4.772908,256.494504,0.000,1.849225,1.895996
12453,2020-12-28 05:45:00,2020,12,28,5,45,-3.833311,88.446510,1011.756678,5.192013,130.332697,0.000,1.240335,1.455763
52528,2018-05-16 10:15:00,2018,5,16,10,15,16.894132,70.751212,1014.371667,2.036745,233.136151,0.000,254.724915,240.011166
59265,2019-06-03 21:25:00,2019,6,3,21,25,19.346658,42.683658,1018.589867,0.791756,189.340281,0.000,15.853319,15.677507
58706,2017-06-06 21:00:00,2017,6,6,21,0,20.493333,36.477396,1015.282433,0.796374,276.818558,0.000,64.071418,56.774344
53297,2014-05-19 07:30:00,2014,5,19,7,30,19.029851,74.005446,1009.460482,1.029522,64.871026,0.000,0.000000,0.000000
38668,2017-03-29 07:10:00,2017,3,29,7,10,-3.453356,80.736443,1014.046467,2.997083,277.206408,0.000,39.730697,48.590014
67422,2017-07-07 03:20:00,2017,7,7,3,20,7.307712,89.500694,1014.357900,2.505182,292.622387,0.000,0.559884,0.570276
104464,2019-11-07 20:00:00,2019,11,7,20,0,-0.103258,98.548584,1009.084751,3.766091,102.528863,0.000,4.323471,3.852318
11395,2019-12-24 13:35:00,2019,12,24,13,35,4.599876,99.610025,1005.340867,0.722810,153.704959,0.000,25.963351,25.695119
13757,2014-01-01 18:45:00,2014,1,1,18,45,-1.946248,65.113017,1013.043645,2.429589,176.047491,0.000,0.000000,0.000000
43137,2017-04-13 19:35:00,2017,4,13,19,35,-0.020405,73.414459,998.835900,6.887365,350.787374,0.000,21.069452,20.630507
41705,2021-03-31 10:40:00,2021,3,31,10,40,7.330730,98.553778,1010.977600,5.275343,265.843269,0.000,50.493532,51.131169
18751,2021-01-10 16:50:00,2021,1,10,16,50,-6.555077,88.960593,1018.884300,2.302768,159.959870,0.000,4.253777,4.508312
90077,2017-09-23 19:15:00,2017,9,23,19,15,14.802910,65.519630,1029.026033,3.620663,105.056993,0.000,4.921750,4.828329
67351,2014-07-07 05:00:00,2014,7,7,5,0,16.708986,93.598416,1012.103400,1.066293,99.707260,0.000,0.000000,0.000000
32442,2014-03-07 16:15:00,2014,3,7,16,15,6.147536,30.401076,1019.142010,2.404079,213.104516,0.000,0.000000,0.000000
55552,2019-05-22 00:00:00,2019,5,22,0,0,18.856070,64.794255,1010.329733,1.842437,102.281058,0.000,0.189529,0.010159
55646,2014-05-27 11:15:00,2014,5,27,11,15,9.679293,79.683408,1007.442058,2.313065,281.219493,0.000,0.000000,0.000000
74439,2016-07-30 11:20:00,2016,7,30,11,20,20.835251,77.596006,1007.258767,0.699332,330.340734,0.000,278.251880,365.457099
98685,2020-10-20 00:35:00,2020,10,20,0,35,2.542885,90.249511,1007.098233,3.853151,293.203488,0.000,0.000000,0.000000
3754,2013-11-28 00:50:00,2013,11,28,0,50,5.889941,97.879032,987.614596,3.338062,276.113895,0.000,0.000000,0.000000
54060,2018-05-21 17:55:00,2018,5,21,17,55,23.240404,24.816591,1026.465415,2.952161,88.207086,0.000,414.418284,402.322767
37813,2014-03-26 07:50:00,2014,3,26,7,50,3.901040,27.102217,1016.961259,7.004807,72.873030,0.000,0.000000,0.000000
89557,2018-09-22 00:00:00,2018,9,22,0,0,21.099611,63.815083,1005.105033,4.585247,198.570024,0.000,0.710396,0.695839
9751,2020-12-18 20:35:00,2020,12,18,20,35,4.114861,96.904709,1014.529867,4.626352,245.660497,0.068,0.000000,0.000000

In [18]:
data.head(30)

,timestamp,year,month,day,hour,minute,temperature,humidity,atmospheric_pressure,wind_speed,wind_direction,precipitation,radiation_flux,rad_flux_infuture
0,2013-11-15 00:00:00,2013,11,15,0,0,2.253725,80.280623,1012.974940,1.396552,219.132229,0.0,0.0,0.0
1,2013-11-15 00:05:00,2013,11,15,0,5,2.269765,80.633583,1013.042850,1.246345,220.840096,0.0,0.0,0.0
2,2013-11-15 00:10:00,2013,11,15,0,10,2.259058,80.844891,1012.746232,1.387465,218.213758,0.0,0.0,0.0
3,2013-11-15 00:15:00,2013,11,15,0,15,2.222720,80.999738,1012.925478,1.803502,224.199997,0.0,0.0,0.0
4,2013-11-15 00:20:00,2013,11,15,0,20,2.135194,81.082619,1012.874290,1.640076,225.130637,0.0,0.0,0.0
5,2013-11-15 00:25:00,2013,11,15,0,25,2.075500,81.316279,1012.867377,1.369254,221.732026,0.0,0.0,0.0
6,2013-11-15 00:30:00,2013,11,15,0,30,2.041885,81.697612,1012.920600,1.314422,223.314140,0.0,0.0,0.0
7,2013-11-15 00:35:00,2013,11,15,0,35,2.038886,82.163594,1013.180392,1.228393,221.865827,0.0,0.0,0.0
8,2013-11-15 00:40:00,2013,11,15,0,40,2.022422,82.593353,1013.001292,1.528448,219.857440,0.0,0.0,0.0
9,2013-11-15 00:45:00,2013,11,15,0,45,2.020750,83.062526,1012.941358,1.403501,223.718700,0.0,0.0,0.0
10,2013-11-15 00:50:00,2013,11,15,0,50,2.056180,83.608856,1013.185853,1.614175,229.290727,0.0,0.0,0.0
11,2013-11-15 00:55:00,2013,11,15,0,55,2.112684,84.223505,1013.362493,1.176689,239.607583,0.0,0.0,0.0
12,2013-11-15 01:00:00,2013,11,15,1,0,2.179375,84.743218,1013.152226,1.086260,222.748933,0.0,0.0,0.0
13,2013-11-15 01:05:00,2013,11,15,1,5,2.222308,85.150233,1013.008350,1.112513,226.386331,0.0,0.0,0.0
14,2013-11-15 01:10:00,2013,11,15,1,10,2.244163,85.393099,1013.024850,0.939920,223.719409,0.0,0.0,0.0
15,2013-11-15 01:15:00,2013,11,15,1,15,2.261614,85.585837,1012.931393,1.235155,224.720136,0.0,0.0,0.0
16,2013-11-15 01:20:00,2013,11,15,1,20,2.274792,85.730340,1012.866171,1.114413,217.498997,0.0,0.0,0.0
17,2013-11-15 01:25:00,2013,11,15,1,25,2.284320,85.871342,1012.870308,0.946446,215.464480,0.0,0.0,0.0
18,2013-11-15 01:30:00,2013,11,15,1,30,2.278153,85.957623,1012.709585,0.964940,211.329272,0.0,0.0,0.0
19,2013-11-15 01:35:00,2013,11,15,1,35,2.284589,86.046169,1012.799865,0.523091,202.914489,0.0,0.0,0.0
20,2013-11-15 01:40:00,2013,11,15,1,40,2.274512,86.095498,1012.755704,0.811056,218.401196,0.0,0.0,0.0
21,2013-11-15 01:45:00,2013,11,15,1,45,2.280405,86.152998,1012.857373,1.300369,215.886954,0.0,0.0,0.0
22,2013-11-15 01:50:00,2013,11,15,1,50,2.317399,86.274197,1012.873347,1.374215,215.765581,0.0,0.0,0.0
23,2013-11-15 01:55:00,2013,11,15,1,55,2.345505,86.390587,1012.827987,1.195395,211.570014,0.0,0.0,0.0
24,2013-11-15 02:00:00,2013,11,15,2,0,2.367352,86.492926,1012.679203,1.101860,215.459060,0.0,0.0,0.0
25,2013-11-15 02:05:00,2013,11,15,2,5,2.389587,86.592088,1012.628790,1.285108,214.274346,0.0,0.0,0.0
26,2013-11-15 02:10:00,2013,11,15,2,10,2.407144,86.670132,1012.692015,1.172560,216.713184,0.0,0.0,0.0
27,2013-11-15 02:15:00,2013,11,15,2,15,2.429448,86.744706,1012.880393,1.055645,217.166598,0.0,0.0,0.0
28,2013-11-15 02:20:00,2013,11,15,2,20,2.444410,86.802205,1012.797522,1.047361,213.046938,0.0,0.0,0.0
29,2013-11-15 02:25:00,2013,11,15,2,25,2.453253,86.835171,1012.748500,1.191424,214.898053,0.0,0.0,0.0

In [19]:
data.to_csv("data.csv",index=False)

## trying to get data directly from web page

In [18]:
#url = 'https://meteo.physic.ut.ee/et/archive.php?do=data&begin%5Byear%5D=2016&begin%5Bmon%5D=11&begin%5Bmday%5D=18&end%5Byear%5D=2021&end%5Bmon%5D=11&end%5Bmday%5D=18&9=1&12=1&10=1&15=1&16=1&14=1&snow_16=1&ok=+Esita+päring+'


def get_weather_data(start_year, start_month, start_day, end_year, end_month, end_day):
    url = f'https://meteo.physic.ut.ee/et/archive.php?do=data&begin%5Byear%5D={start_year}&begin%5Bmon%5D={start_month}&begin%5Bmday%5D={start_day}&end%5Byear%5D={end_year}&end%5Bmon%5D={end_month}&end%5Bmday%5D={end_day}&9=1&12=1&11=1&14=1&ok=+Esita+p%C3%A4ring+'
    c = pd.read_csv(url)
    #c.columns = ['Aeg', 'Temperatuur', 'Niiskus', 'Valgustatus', 'Kiirgusvoog']
    return c

In [19]:
train = get_weather_data(2011, 1, 1, 2015, 12, 12)

In [20]:
train.head()

,Aeg,Temperatuur,Niiskus,Valgustatus,Kiirgusvoog
0,2011-01-01 00:00:00,-6.936343679417071,98.6784171261325,1354.9408873569798,
1,2011-01-01 00:05:00,-6.9568330698942695,98.59701577484581,1029.54357837049,
2,2011-01-01 00:10:00,-6.97364936736915,98.42287783684701,1418.1783680055298,
3,2011-01-01 00:15:00,-6.94325190753387,98.49124327899729,1294.6821264335601,
4,2011-01-01 00:20:00,-6.86547316481287,98.64064185206159,1374.1625144454501,

In [21]:
train.isnull().sum()

Aeg             0
 Temperatuur    0
 Niiskus        0
 Valgustatus    0
 Kiirgusvoog    0
dtype: int64

# Solcast.com

In [2]:
data = pd.read_csv("Solcast_PT5M.csv")

In [3]:
data.sample(30)

,PeriodEnd,PeriodStart,Period,AirTemp,AlbedoDaily,Azimuth,CloudOpacity,DewpointTemp,Dhi,Dni,...,Ghi,GtiFixedTilt,GtiTracking,PrecipitableWater,RelativeHumidity,SnowDepth,SurfacePressure,WindDirection10m,WindSpeed10m,Zenith
537384,2012-02-09T22:10:00Z,2012-02-09T22:05:00Z,PT5M,-4.7,0.18,40,0.0,-7.2,0,0,...,0,0,0,3.9,82.2,0.5,1039.3,69,3.1,137
627587,2012-12-19T03:05:00Z,2012-12-19T03:00:00Z,PT5M,4.1,0.13,-74,0.0,3.9,0,0,...,0,0,0,10.5,98.6,0.0,1020.5,91,0.2,132
272008,2009-08-02T11:30:00Z,2009-08-02T11:25:00Z,PT5M,17.5,0.16,-172,77.7,15.5,177,0,...,177,158,177,29.8,88.5,0.0,1010.2,295,5.2,34
957487,2016-02-07T14:45:00Z,2016-02-07T14:40:00Z,PT5M,8.9,0.13,138,0.0,2.7,57,588,...,190,490,159,9.9,64.9,0.0,998.7,220,9.3,77
221637,2009-02-08T13:55:00Z,2009-02-08T13:50:00Z,PT5M,3.0,0.15,150,62.3,0.4,106,0,...,106,94,106,7.5,83.0,0.0,1003.2,261,5.0,72
265458,2009-07-10T17:40:00Z,2009-07-10T17:35:00Z,PT5M,16.1,0.15,77,56.3,9.9,108,0,...,108,97,108,19.8,67.0,0.0,1014.5,294,6.3,71
665749,2013-04-30T15:15:00Z,2013-04-30T15:10:00Z,PT5M,13.1,0.15,111,0.0,3.1,123,730,...,522,578,869,10.3,50.7,0.0,1023.8,21,5.4,57
365464,2010-06-22T23:30:00Z,2010-06-22T23:25:00Z,PT5M,10.9,0.16,3,0.0,9.0,0,0,...,0,0,0,19.8,88.6,0.0,1023.8,64,2.2,104
2519,2007-01-09T18:05:00Z,2007-01-09T18:00:00Z,PT5M,12.5,0.16,101,30.9,7.9,0,0,...,0,0,0,17.6,73.5,0.0,1009.6,227,10.8,110
211676,2009-01-04T23:50:00Z,2009-01-04T23:45:00Z,PT5M,1.2,0.12,-2,97.0,0.9,0,0,...,0,0,0,11.3,98.1,1.3,1014.7,274,3.1,151
151441,2008-06-09T20:15:00Z,2008-06-09T20:10:00Z,PT5M,18.3,0.16,46,0.0,12.4,0,0,...,0,0,0,19.8,68.1,0.0,1022.7,1,2.4,93
664392,2013-04-25T22:10:00Z,2013-04-25T22:05:00Z,PT5M,13.1,0.15,24,0.0,9.5,0,0,...,0,0,0,18.7,79.0,0.0,1016.4,260,2.7,112
546411,2012-03-12T06:25:00Z,2012-03-12T06:20:00Z,PT5M,3.7,0.13,-99,0.7,3.0,14,42,...,17,20,15,12.6,95.3,0.0,1032.7,291,2.5,88
253994,2009-05-31T22:20:00Z,2009-05-31T22:15:00Z,PT5M,17.4,0.15,19,0.0,11.8,0,0,...,0,0,0,24.7,69.3,0.0,1023.7,45,3.4,104
264375,2009-07-06T23:25:00Z,2009-07-06T23:20:00Z,PT5M,15.2,0.15,5,0.0,12.1,0,0,...,0,0,0,21.3,81.7,0.0,1005.1,213,5.6,105
190091,2008-10-22T01:05:00Z,2008-10-22T01:00:00Z,PT5M,6.5,0.14,-35,0.0,4.0,0,0,...,0,0,0,10.2,84.1,0.0,1016.9,242,2.6,134
1136797,2017-10-22T05:15:00Z,2017-10-22T05:10:00Z,PT5M,11.1,0.15,-94,78.7,10.1,0,0,...,0,0,0,20.0,93.2,0.0,1005.6,238,8.3,100
833136,2014-12-02T20:10:00Z,2014-12-02T20:05:00Z,PT5M,1.1,0.15,72,48.0,-1.5,0,0,...,0,0,0,11.1,82.8,0.0,1018.6,44,4.5,131
142306,2008-05-09T03:00:00Z,2008-05-09T02:55:00Z,PT5M,13.1,0.15,-48,0.0,5.7,0,0,...,0,0,0,11.1,60.5,0.0,1015.6,119,3.1,98
514756,2011-11-23T08:30:00Z,2011-11-23T08:25:00Z,PT5M,7.5,0.16,-138,32.0,7.1,61,0,...,61,55,61,17.2,97.4,0.0,1025.6,274,1.0,82
538887,2012-02-15T03:25:00Z,2012-02-15T03:20:00Z,PT5M,5.0,0.15,-67,48.0,3.7,0,0,...,0,0,0,12.7,91.2,0.1,1011.7,322,10.1,123
520946,2011-12-14T20:20:00Z,2011-12-14T20:15:00Z,PT5M,4.6,0.16,72,51.8,2.2,0,0,...,0,0,0,9.2,84.6,0.0,998.8,226,8.2,133
1373156,2020-01-20T21:50:00Z,2020-01-20T21:45:00Z,PT5M,3.3,0.15,49,0.0,1.3,0,0,...,0,0,0,13.0,86.2,0.0,1044.6,215,2.1,140
501350,2011-10-07T19:20:00Z,2011-10-07T19:15:00Z,PT5M,10.4,0.15,71,46.1,9.1,0,0,...,0,0,0,14.7,91.7,0.0,1014.9,317,6.7,111
86381,2007-10-27T22:35:00Z,2007-10-27T22:30:00Z,PT5M,10.2,0.14,19,59.8,6.8,0,0,...,0,0,0,23.9,79.6,0.0,1025.3,197,4.6,139
592082,2012-08-17T20:20:00Z,2012-08-17T20:15:00Z,PT5M,22.2,0.15,51,0.0,14.3,0,0,...,0,0,0,33.2,61.2,0.0,1017.4,163,2.5,101
1204169,2018-06-13T03:35:00Z,2018-06-13T03:30:00Z,PT5M,12.6,0.15,-51,0.0,9.9,4,7,...,4,3,4,16.6,83.8,0.0,1016.3,339,3.8,89
598250,2012-09-08T06:20:00Z,2012-09-08T06:15:00Z,PT5M,13.3,0.15,-94,0.0,11.3,50,443,...,134,135,391,23.4,87.6,0.0,1021.4,229,2.0,79
1038349,2016-11-14T09:15:00Z,2016-11-14T09:10:00Z,PT5M,2.3,0.12,-148,65.7,1.4,68,0,...,68,60,68,19.3,93.9,0.0,1031.5,186,3.6,76
323703,2010-01-28T23:25:00Z,2010-01-28T23:20:00Z,PT5M,1.9,0.19,13,90.0,0.7,0,0,...,0,0,0,11.2,91.6,0.8,999.4,272,4.6,146