In [1]:
import urllib
import requests
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier

In [2]:
for x in range(2013,2021):
    f = open(f"nov{x}-{x+1}.txt", "r")
    content = f.read()
    f.close()

    content = content.replace(" ","")

    g = open(f"nov{x}-{x+1}.txt", "w")
    g.write(content)
    g.close()

In [3]:
frames = []

for x in range(2013,2021):
    frames.append(pd.read_csv(f"nov{x}-{x+1}.txt", sep = ","))

data = pd.concat(frames)

In [4]:
data.sample(10)

,Aeg,Temperatuur,Niiskus,&Otilde;hur&otilde;hk,Tuulekiirus,Tuulesuund,Sademed,UVindeks,Valgustatus,Kiirgusvoog,Radioaktiivsus
48860,2020-04-2923:55:00,1.708857,76.153429,1010.542900,2.054298,31.787175,0.0,NaN,NaN,0.263415,NaN
54699,2019-05-1900:55:00,15.520183,56.053655,1017.789433,3.133050,125.688988,0.0,NaN,NaN,0.611572,NaN
24035,2017-02-0610:45:00,-9.408945,77.227780,1032.245733,6.725341,102.686837,0.0,NaN,NaN,207.445677,NaN
69204,2021-07-0422:15:00,23.488089,55.467452,1014.585633,2.461981,96.633236,0.0,NaN,NaN,0.000000,NaN
63315,2017-06-2221:05:00,14.958985,43.453376,1004.615000,4.603048,286.495311,0.0,NaN,NaN,78.805021,NaN
16005,2017-01-0913:35:00,-1.162365,91.240721,1018.145500,3.924947,243.819581,0.0,NaN,NaN,30.677537,NaN
20787,2021-01-1718:30:00,-10.010632,89.396645,1018.011433,3.726338,274.360841,0.0,NaN,NaN,6.179114,NaN
98165,2019-10-1623:05:00,8.898684,96.004921,1006.518000,1.022259,118.208322,0.0,NaN,NaN,NaN,NaN
80272,2014-10-2012:30:00,10.580218,99.394906,973.217455,3.514186,292.316024,0.0,NaN,NaN,NaN,NaN
81160,2016-08-2219:25:00,20.020826,84.501240,1020.109367,3.529111,284.663386,0.0,NaN,NaN,28.886399,NaN

In [5]:
data.shape

(811086, 11)

In [6]:
#f = open("kiirgusvoog_5a.csv", "r")
#content = f.read()
#f.close()

#content = content.replace(" ","")

#g = open("kiirgusvoog_5a_2.csv", "w")
#g.write(content)
#g.close()

#data = pd.read_csv("kiirgusvoog_5a_2.csv")

In [7]:
data = data.rename(columns = {'&Otilde;hur&otilde;hk':'Õhurõhk'})

In [8]:
def break_up_time(data):
    data["Aasta"]= data.apply(lambda row: row["Aeg"][0:4], axis=1)
    data["Kuu"] = data.apply(lambda row: row["Aeg"][5:7], axis=1)
    data["Päev"] = data.apply(lambda row: row["Aeg"][8:10], axis=1)
    data["Tund"] = data.apply(lambda row: row["Aeg"][10:12], axis=1)
    data["Minut"] = data.apply(lambda row: row["Aeg"][13:15], axis=1)
    data.Aasta = data.Aasta.astype('int')
    data.Kuu = data.Kuu.astype('int')
    data.Päev = data.Päev.astype('int')
    data.Tund = data.Tund.astype('int')
    data.Minut = data.Minut.astype('int')

In [9]:
break_up_time(data)
data.head()

,Aeg,Temperatuur,Niiskus,Õhurõhk,Tuulekiirus,Tuulesuund,Sademed,UVindeks,Valgustatus,Kiirgusvoog,Radioaktiivsus,Aasta,Kuu,Päev,Tund,Minut
0,2013-11-1500:00:00,2.253725,80.280623,1012.974940,1.396552,219.132229,0.0,NaN,NaN,NaN,0.097777,2013,11,15,0,0
1,2013-11-1500:05:00,2.269765,80.633583,1013.042850,1.246345,220.840096,0.0,NaN,NaN,NaN,0.134524,2013,11,15,0,5
2,2013-11-1500:10:00,2.259058,80.844891,1012.746232,1.387465,218.213758,0.0,NaN,NaN,NaN,0.091138,2013,11,15,0,10
3,2013-11-1500:15:00,2.222720,80.999738,1012.925478,1.803502,224.199997,0.0,NaN,NaN,NaN,0.097796,2013,11,15,0,15
4,2013-11-1500:20:00,2.135194,81.082619,1012.874290,1.640076,225.130637,0.0,NaN,NaN,NaN,0.096651,2013,11,15,0,20

In [10]:
data.columns

Index(['Aeg', 'Temperatuur', 'Niiskus', 'Õhurõhk', 'Tuulekiirus', 'Tuulesuund',
       'Sademed', 'UVindeks', 'Valgustatus', 'Kiirgusvoog', 'Radioaktiivsus',
       'Aasta', 'Kuu', 'Päev', 'Tund', 'Minut'],
      dtype='object')

In [11]:
data = data[["Aasta","Kuu","Päev","Tund","Minut","Temperatuur","Niiskus","Õhurõhk","Tuulekiirus","Tuulesuund","Sademed","Kiirgusvoog"]] # "Sadanudlumi"
#data['Sadanudlumi'] = data['Sadanudlumi'].fillna(0)
#data.columns = ["Aasta","Kuu","Päev","Tund","Minut","Temperatuur","Niiskus","Õhurõhk","Tuule kiirus","Tuule suund","Sademed","Kiirgusvoog"]
data['Sademed'] = data['Sademed'].fillna(0)
data['Tuulekiirus'] = data['Tuulekiirus'].fillna(method='backfill')
data['Tuulesuund'] = data['Tuulesuund'].fillna(method='backfill')
data['Temperatuur'] = data['Temperatuur'].fillna(method='backfill')
data['Niiskus'] = data['Niiskus'].fillna(method='backfill')
data['Õhurõhk'] = data['Õhurõhk'].fillna(method='backfill')
data['Kiirgusvoog'] = data['Kiirgusvoog'].fillna(method='backfill')
data["KiirgusvoogTulevikus"] = data["Kiirgusvoog"].shift(-1)
data = data.dropna()
data.isnull().sum()

Aasta                   0
Kuu                     0
Päev                    0
Tund                    0
Minut                   0
Temperatuur             0
Niiskus                 0
Õhurõhk                 0
Tuulekiirus             0
Tuulesuund              0
Sademed                 0
Kiirgusvoog             0
KiirgusvoogTulevikus    0
dtype: int64

In [12]:
data = data.rename(columns = {
    'Aasta':'year',
    'Kuu':'month',
    'Päev':'day',
    'Tund':'hour',
    'Minut':'minute',
    'Temperatuur':'temperature',
    'Niiskus':'humidity',
    'Õhurõhk':'atmospheric_pressure',
    'Tuulekiirus':'wind_speed',
    'Tuulesuund':'wind_direction',
    'Sademed':'precipitation',
    #'Sadanudlumi':'snow',
    'Kiirgusvoog':'radiation_flux',
    'KiirgusvoogTulevikus':'rad_flux_infuture'    
    })
data.columns

Index(['year', 'month', 'day', 'hour', 'minute', 'temperature', 'humidity',
       'atmospheric_pressure', 'wind_speed', 'wind_direction', 'precipitation',
       'radiation_flux', 'rad_flux_infuture'],
      dtype='object')

In [13]:
data[data.humidity == data.humidity.max()]

,year,month,day,hour,minute,temperature,humidity,atmospheric_pressure,wind_speed,wind_direction,precipitation,radiation_flux,rad_flux_infuture
51611,2014,5,13,11,0,8.624431,117.297204,990.984611,3.325451,290.185328,0.0,0.0,0.0
51611,2014,5,13,11,0,8.624431,117.297204,990.984611,3.325451,290.185328,0.0,0.0,0.0

In [14]:
data.describe()

,year,month,day,hour,minute,temperature,humidity,atmospheric_pressure,wind_speed,wind_direction,precipitation,radiation_flux,rad_flux_infuture
count,811085.000000,811085.000000,811085.000000,811085.000000,811085.000000,811085.000000,811085.000000,811085.000000,811085.000000,811085.000000,811085.000000,811085.000000,811085.000000
mean,2017.398950,6.494621,15.751352,11.481656,27.512518,6.825025,75.458473,1010.824081,3.258511,199.267411,0.004576,89.464947,89.464947
std,2.424143,3.526065,8.820120,6.926916,17.262782,8.905742,19.869568,11.040802,1.678265,91.412932,0.050455,181.339887,181.339887
min,2013.000000,1.000000,1.000000,0.000000,0.000000,-24.307660,0.000000,963.557524,0.000000,0.000000,0.000000,-2.625525,-2.625525
25%,2016.000000,3.000000,8.000000,5.000000,14.000000,0.635374,62.394290,1003.885773,2.053779,124.554193,0.000000,0.000000,0.000000
50%,2018.000000,6.000000,16.000000,11.000000,30.000000,5.843931,81.315327,1011.116467,3.025117,224.132079,0.000000,2.639460,2.639460
75%,2019.000000,10.000000,23.000000,17.000000,45.000000,13.633509,91.499743,1018.149000,4.240506,274.416061,0.000000,74.003317,74.003317
max,2021.000000,12.000000,31.000000,23.000000,59.000000,33.553939,117.297204,1045.714767,15.497177,360.000000,9.799000,1132.409778,1132.409778

In [15]:
data.sample(50)

,year,month,day,hour,minute,temperature,humidity,atmospheric_pressure,wind_speed,wind_direction,precipitation,radiation_flux,rad_flux_infuture
81122,2014,10,23,11,20,-5.751292,65.367296,1014.431032,4.687319,111.552990,0.0,0.000000,0.000000
16379,2018,1,10,20,55,-3.012333,93.883222,1024.423767,1.484302,285.301642,0.0,1.035408,1.019756
13811,2016,1,1,22,20,-14.731138,84.631379,1040.342767,4.937413,100.568888,0.0,0.000000,0.000000
73893,2014,9,28,1,30,7.890639,95.567576,1013.948115,0.592885,309.605725,0.0,0.000000,0.000000
55676,2017,5,27,8,30,11.159337,68.466480,1018.280433,0.772845,304.999555,0.0,460.396509,473.335399
50565,2014,5,9,19,50,11.710901,92.394435,1000.424293,3.866512,151.956270,0.0,0.000000,0.000000
68558,2020,7,7,9,25,14.899973,73.641694,1004.663133,4.849731,226.365228,0.0,284.581631,304.383100
29811,2014,2,26,13,0,0.736809,47.382404,1020.101794,2.155039,146.997070,0.0,0.000000,0.000000
85071,2018,9,6,10,10,18.189702,99.200108,1018.405316,2.470872,81.138009,0.0,204.390516,226.794419
78632,2017,8,15,1,30,13.533243,73.865232,1025.327167,1.270730,18.321001,0.0,0.000000,0.000000
61390,2014,6,16,12,15,15.008060,58.095405,1002.393504,2.308249,240.246009,0.0,0.000000,0.000000
90099,2017,9,23,21,5,12.851895,71.140947,1029.555600,5.042736,101.298401,0.0,2.803924,3.005270
90439,2019,9,20,3,15,4.876322,93.885264,1015.095600,2.133399,288.002874,0.0,0.781737,0.770021
58865,2014,6,7,17,50,19.896148,43.280863,1009.157274,3.592660,248.749735,0.0,0.000000,0.000000
25777,2014,2,12,12,50,2.055367,99.608097,996.602365,1.660202,215.868596,0.0,0.000000,0.000000
51190,2014,5,11,23,55,11.573327,82.399539,994.127904,3.372300,176.545940,0.0,0.000000,0.000000
34715,2017,3,15,12,45,4.375515,77.660172,1002.707000,7.986598,274.627849,0.0,144.576305,170.433756
66120,2014,7,2,22,25,13.341839,90.972185,1004.757331,1.081118,204.275102,0.0,0.000000,0.000000
50715,2018,5,10,3,10,9.640631,59.069369,1021.873767,3.825167,100.743612,0.0,2.019134,2.034314
27228,2019,2,12,14,40,-1.049797,86.614550,1004.778700,4.264397,328.137250,0.0,122.344361,125.521863
95709,2021,10,4,23,0,10.319253,71.131985,1025.605000,2.941961,152.075200,0.0,0.000000,0.000000
50833,2017,5,10,12,55,4.893566,37.668372,1006.441500,3.534458,274.923550,0.0,768.662157,183.946503
71155,2019,7,15,4,15,10.591979,85.102995,1011.112525,1.783005,25.646829,0.0,1.090871,1.547054
57841,2018,6,3,21,0,21.130755,35.768490,1005.978433,3.766660,282.694114,0.0,40.401281,33.769266
71003,2017,7,19,13,45,18.267634,51.127204,1014.201267,6.419412,272.395902,0.0,882.605896,658.357895
49895,2019,5,2,8,35,5.009196,90.346734,986.864433,1.363592,254.855254,0.0,78.885741,85.319083
94931,2018,10,10,15,50,13.142861,85.654251,1020.581167,4.665534,277.527672,0.0,37.404776,41.191164
24507,2014,2,8,3,0,0.582734,79.122471,993.913401,3.414371,142.330327,0.0,0.000000,0.000000
39997,2019,3,28,22,45,5.195074,74.059629,1018.895333,6.705908,274.840421,0.0,0.649166,0.691087
55647,2017,5,27,6,5,7.475707,82.051568,1017.421300,2.759585,286.689798,0.0,133.217875,142.959667
55760,2016,5,26,14,45,12.866307,86.758544,1010.921533,5.530962,284.156255,0.0,105.186196,100.827977
101619,2021,10,25,11,30,6.621688,80.088438,1019.992667,5.275369,238.361872,0.0,26.022158,27.339541
85573,2016,9,7,3,10,12.162160,88.920933,1018.257967,4.056499,245.543499,0.0,0.000000,0.000000
65955,2014,7,2,8,40,12.679038,89.904545,1004.073913,2.291966,243.718088,0.0,0.000000,0.000000
21263,2014,1,27,20,35,-12.825621,55.744536,1018.667425,5.679905,120.894948,0.0,0.000000,0.000000
66050,2017,7,2,9,0,16.208315,82.410221,998.679167,2.697067,78.119283,0.0,140.618240,173.114123
97122,2018,10,18,6,25,9.003368,89.251723,1018.438033,3.230780,237.612537,0.0,0.081748,0.064979
42598,2017,4,11,22,40,3.456172,67.124571,999.972267,5.643104,283.598280,0.0,3.821733,5.763498
61138,2021,6,6,22,5,22.565784,44.798189,1016.177700,1.001760,28.927249,0.0,0.790616,0.000000
79942,2021,8,11,5,5,15.715900,84.109280,1015.061395,2.169263,77.369371,0.0,0.000000,0.000000
18094,2016,1,16,19,15,-11.227664,89.139083,1011.387233,2.425955,300.171435,0.0,0.000000,0.000000
32869,2017,3,9,2,55,0.902641,68.987314,1021.712800,3.704525,222.342436,0.0,7.540355,7.495061
57269,2020,5,29,4,40,6.013477,89.169594,1022.920667,2.201852,290.959870,0.0,18.029586,22.396139
31445,2014,3,4,5,10,1.468626,58.118528,1007.518265,0.560086,133.831025,0.0,0.000000,0.000000
8182,2017,12,13,9,50,0.293121,85.411093,1000.881467,4.690548,267.028655,0.0,70.143208,74.565409
26376,2020,2,11,21,15,1.591256,92.082609,981.866100,3.382858,238.634425,0.0,0.773268,1.247474
42329,2018,4,11,0,20,1.476955,66.679705,1024.779567,3.716355,78.010355,0.0,0.453378,0.485563
55492,2014,5,26,22,25,18.794693,46.283202,1007.366958,2.815989,288.649156,0.0,0.000000,0.000000
103818,2021,11,2,2,45,4.550852,88.327932,1011.843167,1.976360,138.685250,0.0,0.000000,0.000000
29273,2018,2,24,15,20,-11.280175,69.272171,1032.485600,3.703001,40.268969,0.0,156.116286,149.483651

In [16]:
data.head(30)

,year,month,day,hour,minute,temperature,humidity,atmospheric_pressure,wind_speed,wind_direction,precipitation,radiation_flux,rad_flux_infuture
0,2013,11,15,0,0,2.253725,80.280623,1012.974940,1.396552,219.132229,0.0,0.0,0.0
1,2013,11,15,0,5,2.269765,80.633583,1013.042850,1.246345,220.840096,0.0,0.0,0.0
2,2013,11,15,0,10,2.259058,80.844891,1012.746232,1.387465,218.213758,0.0,0.0,0.0
3,2013,11,15,0,15,2.222720,80.999738,1012.925478,1.803502,224.199997,0.0,0.0,0.0
4,2013,11,15,0,20,2.135194,81.082619,1012.874290,1.640076,225.130637,0.0,0.0,0.0
5,2013,11,15,0,25,2.075500,81.316279,1012.867377,1.369254,221.732026,0.0,0.0,0.0
6,2013,11,15,0,30,2.041885,81.697612,1012.920600,1.314422,223.314140,0.0,0.0,0.0
7,2013,11,15,0,35,2.038886,82.163594,1013.180392,1.228393,221.865827,0.0,0.0,0.0
8,2013,11,15,0,40,2.022422,82.593353,1013.001292,1.528448,219.857440,0.0,0.0,0.0
9,2013,11,15,0,45,2.020750,83.062526,1012.941358,1.403501,223.718700,0.0,0.0,0.0
10,2013,11,15,0,50,2.056180,83.608856,1013.185853,1.614175,229.290727,0.0,0.0,0.0
11,2013,11,15,0,55,2.112684,84.223505,1013.362493,1.176689,239.607583,0.0,0.0,0.0
12,2013,11,15,1,0,2.179375,84.743218,1013.152226,1.086260,222.748933,0.0,0.0,0.0
13,2013,11,15,1,5,2.222308,85.150233,1013.008350,1.112513,226.386331,0.0,0.0,0.0
14,2013,11,15,1,10,2.244163,85.393099,1013.024850,0.939920,223.719409,0.0,0.0,0.0
15,2013,11,15,1,15,2.261614,85.585837,1012.931393,1.235155,224.720136,0.0,0.0,0.0
16,2013,11,15,1,20,2.274792,85.730340,1012.866171,1.114413,217.498997,0.0,0.0,0.0
17,2013,11,15,1,25,2.284320,85.871342,1012.870308,0.946446,215.464480,0.0,0.0,0.0
18,2013,11,15,1,30,2.278153,85.957623,1012.709585,0.964940,211.329272,0.0,0.0,0.0
19,2013,11,15,1,35,2.284589,86.046169,1012.799865,0.523091,202.914489,0.0,0.0,0.0
20,2013,11,15,1,40,2.274512,86.095498,1012.755704,0.811056,218.401196,0.0,0.0,0.0
21,2013,11,15,1,45,2.280405,86.152998,1012.857373,1.300369,215.886954,0.0,0.0,0.0
22,2013,11,15,1,50,2.317399,86.274197,1012.873347,1.374215,215.765581,0.0,0.0,0.0
23,2013,11,15,1,55,2.345505,86.390587,1012.827987,1.195395,211.570014,0.0,0.0,0.0
24,2013,11,15,2,0,2.367352,86.492926,1012.679203,1.101860,215.459060,0.0,0.0,0.0
25,2013,11,15,2,5,2.389587,86.592088,1012.628790,1.285108,214.274346,0.0,0.0,0.0
26,2013,11,15,2,10,2.407144,86.670132,1012.692015,1.172560,216.713184,0.0,0.0,0.0
27,2013,11,15,2,15,2.429448,86.744706,1012.880393,1.055645,217.166598,0.0,0.0,0.0
28,2013,11,15,2,20,2.444410,86.802205,1012.797522,1.047361,213.046938,0.0,0.0,0.0
29,2013,11,15,2,25,2.453253,86.835171,1012.748500,1.191424,214.898053,0.0,0.0,0.0

In [17]:
data.to_csv("data.csv")

## trying to get data directly from web page

In [18]:
#url = 'https://meteo.physic.ut.ee/et/archive.php?do=data&begin%5Byear%5D=2016&begin%5Bmon%5D=11&begin%5Bmday%5D=18&end%5Byear%5D=2021&end%5Bmon%5D=11&end%5Bmday%5D=18&9=1&12=1&10=1&15=1&16=1&14=1&snow_16=1&ok=+Esita+päring+'


def get_weather_data(start_year, start_month, start_day, end_year, end_month, end_day):
    url = f'https://meteo.physic.ut.ee/et/archive.php?do=data&begin%5Byear%5D={start_year}&begin%5Bmon%5D={start_month}&begin%5Bmday%5D={start_day}&end%5Byear%5D={end_year}&end%5Bmon%5D={end_month}&end%5Bmday%5D={end_day}&9=1&12=1&11=1&14=1&ok=+Esita+p%C3%A4ring+'
    c = pd.read_csv(url)
    #c.columns = ['Aeg', 'Temperatuur', 'Niiskus', 'Valgustatus', 'Kiirgusvoog']
    return c

In [19]:
train = get_weather_data(2011, 1, 1, 2015, 12, 12)

In [20]:
train.head()

,Aeg,Temperatuur,Niiskus,Valgustatus,Kiirgusvoog
0,2011-01-01 00:00:00,-6.936343679417071,98.6784171261325,1354.9408873569798,
1,2011-01-01 00:05:00,-6.9568330698942695,98.59701577484581,1029.54357837049,
2,2011-01-01 00:10:00,-6.97364936736915,98.42287783684701,1418.1783680055298,
3,2011-01-01 00:15:00,-6.94325190753387,98.49124327899729,1294.6821264335601,
4,2011-01-01 00:20:00,-6.86547316481287,98.64064185206159,1374.1625144454501,

In [21]:
train.isnull().sum()

Aeg             0
 Temperatuur    0
 Niiskus        0
 Valgustatus    0
 Kiirgusvoog    0
dtype: int64