Hello everyone!

The task is **to predict solar intensity in the near future**.
I would like to give you some info on where it is possible to get data.
First of all there is a lot of weather data easily available here:
https://meteo.physic.ut.ee/ - the data is easily accessible and there is 20 years worth of it,
with 5 minute intervals. Just press the "andmepäring" link and you can query necessary data.
"Kiirgusvoog" should be the ground truth that you would want to predict.

I guess this can be a baseline database and you can try to build first quick models
to see if it's possible to predict the solar intensity ("Kiirgusvoog") with the other
values available. (probably the models won't be very good, but at least you get some baseline -
maybe it finds some trends in how solar intensity changes in time)

Now the second and harder step is to get additional data from satellite images.
Here it is possible to get satellite info about clouds:
https://view.eumetsat.int/productviewer?v=default but I haven't had time to go into details
of how easy it is to download the pictures automatically.
Manually it is possible to get them at 15 minute intervals.
You have to spend some time to get used to satellite images and how to gather features from them.
If you find any other data sources that have useful info
about clouds that are more easily accessible, then let me know.

To work with satellite images, rasterio package in python is very useful.
GeoTiff format should have geographical information included in the images,
so it is possible to geolocate certain pixels to a certain location,
but I haven't had the time to confirm this in the EUMETSAT database.

Best regards,
Ott Kekišev

In [1]:
import urllib
import requests
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier

In [2]:
f = open("kiirgusvoog_5a.csv", "r")
content = f.read()
f.close()

content = content.replace(" ","")

g = open("kiirgusvoog_5a_2.csv", "w")
g.write(content)
g.close()

data = pd.read_csv("kiirgusvoog_5a_2.csv")
data = data.rename(columns = {'&Otilde;hur&otilde;hk':'Õhurõhk'})

In [3]:
kuupäev = data.apply(lambda row: row["Aeg"][0:10], axis=1)
kellaaeg = data.apply(lambda row: row["Aeg"][10:], axis=1)
data["Aeg"] = kuupäev + " " + kellaaeg

In [4]:
def break_up_time(data):
    data["Aasta"]= data.apply(lambda row: row["Aeg"][0:4], axis=1)
    data["Kuu"] = data.apply(lambda row: row["Aeg"][5:7], axis=1)
    data["Päev"] = data.apply(lambda row: row["Aeg"][8:10], axis=1)
    data["Tund"] = data.apply(lambda row: row["Aeg"][11:13], axis=1)
    data["Minut"] = data.apply(lambda row: row["Aeg"][14:16], axis=1)
    data.Aasta = data.Aasta.astype('int')
    data.Kuu = data.Kuu.astype('int')
    data.Päev = data.Päev.astype('int')
    data.Tund = data.Tund.astype('int')
    data.Minut = data.Minut.astype('int')

In [5]:
break_up_time(data)
data.head()

,Aeg,Temperatuur,Niiskus,Õhurõhk,Tuulekiirus,Tuulesuund,Sademed,UVindeks,Valgustatus,Kiirgusvoog,Radioaktiivsus,Sadanudlumi,Aasta,Kuu,Päev,Tund,Minut
0,2016-11-01 00:00:00,-0.591946,97.281109,1022.204033,1.249012,240.735204,0.0,NaN,NaN,0.0,NaN,0.0,2016,11,1,0,0
1,2016-11-01 00:05:00,-0.597687,97.325147,1022.262033,0.866778,246.686019,0.0,NaN,NaN,0.0,NaN,0.0,2016,11,1,0,5
2,2016-11-01 00:10:00,-0.580607,97.395573,1022.359833,1.239094,282.940579,0.0,NaN,NaN,0.0,NaN,0.0,2016,11,1,0,10
3,2016-11-01 00:15:00,-0.558781,97.469255,1022.406333,0.883887,284.070831,0.0,NaN,NaN,0.0,NaN,0.0,2016,11,1,0,15
4,2016-11-01 00:20:00,-0.578705,97.496932,1022.374467,1.592511,281.055331,0.0,NaN,NaN,0.0,NaN,0.0,2016,11,1,0,20

In [6]:
data = data[["Aasta","Kuu","Päev","Tund","Minut","Temperatuur","Niiskus","Õhurõhk","Tuulekiirus","Tuulesuund","Sademed","Sadanudlumi","Kiirgusvoog"]]
data['Sadanudlumi'] = data['Sadanudlumi'].fillna(0)
data['Sademed'] = data['Sademed'].fillna(0)
data['Tuulekiirus'] = data['Tuulekiirus'].fillna(method='backfill')
data['Tuulesuund'] = data['Tuulesuund'].fillna(method='backfill')
data['Temperatuur'] = data['Temperatuur'].fillna(method='backfill')
data['Niiskus'] = data['Niiskus'].fillna(method='backfill')
data['Õhurõhk'] = data['Õhurõhk'].fillna(method='backfill')
data['Kiirgusvoog'] = data['Kiirgusvoog'].fillna(method='backfill')
data["KiirgusvoogTulevikus"] = data["Kiirgusvoog"].shift(-1)
data = data.dropna()
data.isnull().sum()

Aasta                   0
Kuu                     0
Päev                    0
Tund                    0
Minut                   0
Temperatuur             0
Niiskus                 0
Õhurõhk                 0
Tuulekiirus             0
Tuulesuund              0
Sademed                 0
Sadanudlumi             0
Kiirgusvoog             0
KiirgusvoogTulevikus    0
dtype: int64

In [7]:
data = data.rename(columns = {
    'Aasta':'year',
    'Kuu':'month',
    'Päev':'day',
    'Tund':'hour',
    'Minut':'minute',
    'Temperatuur':'temperature',
    'Niiskus':'humidity',
    'Õhurõhk':'atmospheric_pressure',
    'Tuulekiirus':'wind_speed',
    'Tuulesuund':'wind_direction',
    'Sademed':'precipitation',
    'Sadanudlumi':'snow',
    'Kiirgusvoog':'radiation_flux',
    'KiirgusvoogTulevikus':'rad_flux_infuture'    
    })
data.columns

Index(['year', 'month', 'day', 'hour', 'minute', 'temperature', 'humidity',
       'atmospheric_pressure', 'wind_speed', 'wind_direction', 'precipitation',
       'snow', 'radiation_flux', 'rad_flux_infuture'],
      dtype='object')

In [8]:
data.describe()

,year,month,day,hour,minute,temperature,humidity,atmospheric_pressure,wind_speed,wind_direction,precipitation,snow,radiation_flux,rad_flux_infuture
count,271615.000000,271615.000000,271615.000000,271615.000000,271615.000000,271615.000000,271615.000000,271615.000000,271615.000000,271615.000000,271615.000000,271615.000000,271615.000000,271615.000000
mean,2017.639689,6.321267,15.712891,11.464470,27.510616,5.677152,78.483295,1012.612623,3.433309,195.780329,0.004710,0.008075,107.256173,107.256389
std,0.819777,3.637112,8.785145,6.921945,17.261689,9.078446,18.256608,11.161267,1.649520,93.458438,0.044543,0.093284,191.910039,191.909951
min,2016.000000,1.000000,1.000000,0.000000,0.000000,-21.645232,11.875383,970.087600,0.007322,0.001701,0.000000,0.000000,0.000000,0.000000
25%,2017.000000,3.000000,8.000000,5.000000,14.000000,-0.632104,68.268864,1005.464467,2.218789,116.200252,0.000000,0.000000,1.510226,1.510274
50%,2018.000000,6.000000,16.000000,11.000000,29.000000,3.773333,84.635700,1012.546067,3.193919,224.275239,0.000000,0.000000,5.465909,5.465922
75%,2018.000000,10.000000,23.000000,17.000000,45.000000,12.915405,92.584239,1020.189933,4.431981,273.845409,0.000000,0.000000,117.479973,117.479973
max,2019.000000,12.000000,31.000000,23.000000,59.000000,32.191077,99.353324,1045.714767,13.333544,359.992379,8.180000,5.300000,1115.314668,1115.314668

In [9]:
data.sample(50)

,year,month,day,hour,minute,temperature,humidity,atmospheric_pressure,wind_speed,wind_direction,precipitation,snow,radiation_flux,rad_flux_infuture
30426,2017,2,14,15,20,6.013550,55.365058,1024.838767,4.782787,353.801460,0.00,0.0,148.346472,140.760805
258291,2019,4,11,23,35,-1.090157,66.469438,1025.591533,1.489214,358.165693,0.00,0.0,1.436409,1.731234
168873,2018,6,10,9,25,16.707642,46.785881,1014.078800,1.468649,276.404689,0.00,0.0,523.693356,540.976627
5661,2016,11,20,15,45,4.598980,87.377488,1017.274167,3.952020,223.655313,0.00,0.0,0.000000,0.000000
6310,2016,11,22,21,50,0.681640,91.344396,1023.295833,4.126343,202.932154,0.00,0.0,0.000000,0.000000
97762,2017,10,6,11,40,4.746940,98.898333,991.440967,1.082176,269.534026,0.00,0.0,157.635893,176.533224
164845,2018,5,27,9,45,20.166398,51.188629,1025.050000,2.851624,284.706636,0.00,0.0,615.904059,627.581542
190177,2018,8,23,8,45,15.718360,55.951425,1016.381900,5.064208,238.826738,0.00,0.0,319.854353,336.772851
47338,2017,4,14,9,40,-0.482460,74.413183,1002.677508,2.807744,17.468288,0.00,0.0,205.874078,207.653275
77191,2017,7,27,1,25,17.956870,79.084654,1002.447967,2.883954,60.129957,0.00,0.0,2.970892,2.845178
87301,2017,8,31,3,55,15.759918,73.515027,1014.674800,3.693428,223.347803,0.00,0.0,3.989526,3.998399
163634,2018,5,23,4,50,12.687560,75.848231,1019.353633,2.055705,239.890052,0.00,0.0,4.423549,4.973473
195862,2018,9,12,2,30,15.981319,75.838516,1004.893367,8.384837,221.543174,0.00,0.0,3.865007,3.745752
94171,2017,9,24,0,25,10.141314,84.441186,1030.808833,3.088714,101.695226,0.00,0.0,2.787775,1.742572
231619,2019,1,9,7,55,-5.069178,92.563911,1005.535933,1.315658,190.878125,0.07,1.1,0.923442,0.755412
145214,2018,3,20,4,50,-1.339910,91.995888,1003.112100,3.662008,273.568291,0.00,0.0,3.410085,3.373901
66074,2017,6,18,11,0,20.876472,52.909194,1014.399433,4.004446,275.645186,0.00,0.0,837.997879,726.945768
14562,2016,12,21,13,20,1.674675,92.775108,1023.843133,4.686997,251.471823,0.00,0.0,20.498260,16.692106
163234,2018,5,21,19,30,22.318619,28.125320,1026.050167,2.157337,97.936264,0.00,0.0,195.875170,185.757878
141890,2018,3,8,15,50,-2.240495,78.267928,1004.881233,5.851631,101.633065,0.00,0.0,88.074606,83.336290
67056,2017,6,21,20,50,12.667389,65.941540,1004.330133,5.287122,289.408982,0.00,0.0,110.647569,97.161066
157180,2018,4,30,19,0,12.750617,61.467121,1011.524467,3.574303,76.961909,0.00,0.0,187.111049,175.074391
5348,2016,11,19,13,40,7.164668,82.798367,1012.608167,4.889462,227.727894,0.00,0.0,67.279321,68.114365
16535,2016,12,28,9,45,-1.609843,72.851816,1017.482500,7.038832,18.970434,0.00,0.0,11.563651,12.708093
259752,2019,4,17,1,20,5.957958,61.342668,1032.093900,2.554557,73.472906,0.00,0.0,0.556600,0.519818
5615,2016,11,20,11,55,3.624177,87.178428,1012.592200,6.031357,268.574985,0.00,0.0,33.125496,36.828683
267574,2019,5,14,5,10,6.841596,84.112045,1026.514200,4.088772,4.047387,0.00,0.0,7.038604,8.607070
227326,2018,12,28,5,5,0.272014,99.065718,1008.550000,2.318124,8.934078,0.00,0.0,1.381767,1.363051
77530,2017,7,28,5,40,15.444617,91.419481,1004.853000,2.017226,155.717419,0.00,0.0,26.407789,36.542180
193949,2018,9,5,11,5,15.614674,99.163081,1018.919933,1.129792,26.239972,0.00,0.0,79.414943,69.844439
126470,2018,1,14,2,55,-9.023239,91.166980,1041.773900,1.204379,131.566476,0.00,0.0,5.962823,6.241760
62436,2017,6,5,19,50,12.470824,86.210372,1008.634400,1.710375,231.564892,0.00,0.0,58.176914,72.934413
202598,2018,10,5,11,50,7.154798,92.383005,1011.749100,7.472982,224.506283,0.00,0.0,68.153758,74.266428
47220,2017,4,13,23,50,-1.535483,82.332831,1001.419133,2.139041,324.366003,0.00,0.0,4.153810,4.436575
35286,2017,3,3,12,20,1.505332,80.760332,1001.073267,5.728757,282.235185,0.00,0.0,206.485982,290.211807
60043,2017,5,28,12,25,15.785296,67.542849,1015.008933,4.001778,208.617230,0.00,0.0,438.883235,478.317680
176736,2018,7,7,16,40,22.170642,59.470168,1006.667600,4.090496,353.608995,0.00,0.0,429.329250,648.910256
67679,2017,6,24,0,45,9.942280,68.499637,1007.286367,0.361648,173.526258,0.00,0.0,0.395839,0.274247
136594,2018,2,18,6,30,-4.664967,89.767327,1019.595967,3.217861,8.668875,0.00,0.0,4.668392,4.694564
94909,2017,9,26,13,55,14.564704,78.157823,1039.186833,3.425130,79.984446,0.00,0.0,442.222384,422.786549
25322,2017,1,27,22,0,-0.549821,99.064036,1024.260267,1.592860,257.562001,0.00,0.0,0.576980,0.662989
145096,2018,3,19,19,0,0.111448,74.333213,1002.629167,5.757310,278.162039,0.00,0.0,2.379185,2.465274
103998,2017,10,28,3,20,-0.616636,97.858795,1003.517967,2.108731,221.603623,0.00,0.0,1.703765,1.683759
236351,2019,1,25,18,15,-13.326187,87.750741,1018.216633,3.670505,103.470238,0.00,0.0,2.143821,1.731942
126900,2018,1,15,14,45,-8.663720,80.529519,1028.839103,2.381319,155.287191,0.00,0.0,30.076870,28.095331
261625,2019,4,23,13,25,19.188279,28.312668,1029.767133,0.176392,72.962149,0.00,0.0,700.586054,697.993699
192914,2018,9,1,20,50,19.362192,73.778384,1023.785667,2.574265,210.087228,0.00,0.0,0.000000,0.000000
238922,2019,2,3,16,30,2.526561,96.608488,1008.344100,3.903442,225.224276,0.00,0.0,0.653943,0.274032
76100,2017,7,23,6,30,10.923440,93.854693,1018.502367,1.080617,296.901959,0.00,0.0,147.717309,158.522148
230335,2019,1,4,20,55,-3.945122,95.431425,1004.498967,1.676676,240.399229,0.00,0.0,0.208882,0.783468

In [10]:
data.head(30)

,year,month,day,hour,minute,temperature,humidity,atmospheric_pressure,wind_speed,wind_direction,precipitation,snow,radiation_flux,rad_flux_infuture
0,2016,11,1,0,0,-0.591946,97.281109,1022.204033,1.249012,240.735204,0.0,0.0,0.0,0.0
1,2016,11,1,0,5,-0.597687,97.325147,1022.262033,0.866778,246.686019,0.0,0.0,0.0,0.0
2,2016,11,1,0,10,-0.580607,97.395573,1022.359833,1.239094,282.940579,0.0,0.0,0.0,0.0
3,2016,11,1,0,15,-0.558781,97.469255,1022.406333,0.883887,284.070831,0.0,0.0,0.0,0.0
4,2016,11,1,0,20,-0.578705,97.496932,1022.374467,1.592511,281.055331,0.0,0.0,0.0,0.0
5,2016,11,1,0,25,-0.599025,97.569909,1022.375467,1.807397,275.258072,0.0,0.0,0.0,0.0
6,2016,11,1,0,30,-0.625882,97.634367,1022.431395,2.091406,281.399344,0.0,0.0,0.0,0.0
7,2016,11,1,0,35,-0.619212,97.699369,1022.439200,1.412268,278.953697,0.0,0.0,0.0,0.0
8,2016,11,1,0,40,-0.632114,97.723341,1022.331267,1.928674,276.522212,0.0,0.0,0.0,0.0
9,2016,11,1,0,45,-0.659089,97.773075,1022.307867,2.075287,282.975079,0.0,0.0,0.0,0.0
10,2016,11,1,0,50,-0.640023,97.829819,1022.331333,1.322376,279.662362,0.0,0.0,0.0,0.0
11,2016,11,1,0,55,-0.629661,97.851783,1022.311500,1.138564,277.671128,0.0,0.0,0.0,0.0
12,2016,11,1,1,0,-0.619546,97.850431,1022.263233,0.828903,273.341181,0.0,0.0,0.0,0.0
13,2016,11,1,1,5,-0.621139,97.844191,1022.088533,1.000283,256.558591,0.0,0.0,0.0,0.0
14,2016,11,1,1,10,-0.638231,97.802585,1022.002000,1.277063,242.769801,0.0,0.0,0.0,0.0
15,2016,11,1,1,15,-0.573536,97.622140,1022.020833,0.696544,282.055116,0.0,0.0,0.0,0.0
16,2016,11,1,1,20,-0.553136,97.338659,1021.972467,0.568674,241.935718,0.0,0.0,0.0,0.0
17,2016,11,1,1,25,-0.559000,97.144886,1021.943833,0.942856,266.787726,0.0,0.0,0.0,0.0
18,2016,11,1,1,30,-0.574647,97.138610,1021.871033,1.323205,277.661791,0.0,0.0,0.0,0.0
19,2016,11,1,1,35,-0.567297,97.245315,1021.905267,1.035932,260.427732,0.0,0.0,0.0,0.0
20,2016,11,1,1,40,-0.567647,97.307760,1021.977067,1.125985,273.590168,0.0,0.0,0.0,0.0
21,2016,11,1,1,45,-0.597056,97.384831,1022.019067,1.048810,269.081277,0.0,0.0,0.0,0.0
22,2016,11,1,1,50,-0.606591,97.476072,1022.053000,1.128739,274.664578,0.0,0.0,0.0,0.0
23,2016,11,1,1,55,-0.624263,97.557324,1022.005880,1.384809,272.942331,0.0,0.0,0.0,0.0
24,2016,11,1,2,0,-0.617248,97.646779,1021.936867,1.587153,273.114533,0.0,0.0,0.0,0.0
25,2016,11,1,2,5,-0.631199,97.699208,1021.928333,0.787201,287.975767,0.0,0.0,0.0,0.0
26,2016,11,1,2,10,-0.619118,97.753303,1021.920067,1.269912,265.036464,0.0,0.0,0.0,0.0
27,2016,11,1,2,15,-0.640179,97.778677,1021.779600,1.843676,241.714346,0.0,0.0,0.0,0.0
28,2016,11,1,2,20,-0.642217,97.824344,1021.762133,1.264513,265.401002,0.0,0.0,0.0,0.0
29,2016,11,1,2,25,-0.627680,97.844595,1021.737667,1.231601,255.469645,0.0,0.0,0.0,0.0

In [11]:
data.to_csv("data.csv")

## trying to get data directly from web page

In [18]:
#url = 'https://meteo.physic.ut.ee/et/archive.php?do=data&begin%5Byear%5D=2016&begin%5Bmon%5D=11&begin%5Bmday%5D=18&end%5Byear%5D=2021&end%5Bmon%5D=11&end%5Bmday%5D=18&9=1&12=1&10=1&15=1&16=1&14=1&snow_16=1&ok=+Esita+päring+'


def get_weather_data(start_year, start_month, start_day, end_year, end_month, end_day):
    url = f'https://meteo.physic.ut.ee/et/archive.php?do=data&begin%5Byear%5D={start_year}&begin%5Bmon%5D={start_month}&begin%5Bmday%5D={start_day}&end%5Byear%5D={end_year}&end%5Bmon%5D={end_month}&end%5Bmday%5D={end_day}&9=1&12=1&11=1&14=1&ok=+Esita+p%C3%A4ring+'
    c = pd.read_csv(url)
    #c.columns = ['Aeg', 'Temperatuur', 'Niiskus', 'Valgustatus', 'Kiirgusvoog']
    return c

In [19]:
train = get_weather_data(2011, 1, 1, 2015, 12, 12)

In [20]:
train.head()

,Aeg,Temperatuur,Niiskus,Valgustatus,Kiirgusvoog
0,2011-01-01 00:00:00,-6.936343679417071,98.6784171261325,1354.9408873569798,
1,2011-01-01 00:05:00,-6.9568330698942695,98.59701577484581,1029.54357837049,
2,2011-01-01 00:10:00,-6.97364936736915,98.42287783684701,1418.1783680055298,
3,2011-01-01 00:15:00,-6.94325190753387,98.49124327899729,1294.6821264335601,
4,2011-01-01 00:20:00,-6.86547316481287,98.64064185206159,1374.1625144454501,

In [17]:
train.isnull().sum()

Aeg            0
Temperatuur    0
Niiskus        0
Valgustatus    0
Kiirgusvoog    0
dtype: int64